/* 
[class*="yotpo-display-"][style*="--yotpo-"] 
*/

/* @font-face {
    font-family: 'xxxx';
    src: url('xxxxxx') format('woff2');
    font-weight: 400;
    font-style: normal;
} */

:root {
    --YotpoPrimaryColor: #000;
    --YotpoSecondaryColor: green;
    --YotpoPrimaryFont: 'Arial', var(--YotpoFallbackFont);
    --YotpoSecondaryFont: 'Helvetica', var(--YotpoFallbackFont);
    --YotpoFallbackFont: sans-serif;
    --YotpoLogoIconColor : var(--YotpoSecondaryColor);
}

[class*="yotpo-display-"][style*="--yotpo-"] * {
    font-family: var(--YotpoPrimaryFont) !important;
}

[class*="yotpo-display-"][style*="--yotpo-"] #newReviewFormModal,
[class*="yotpo-display-"][style*="--yotpo-"] .modal-backdrop.yotpo-media-modal,
[class*="yotpo-display-"][style*="--yotpo-"] #yotpo-mobile-filters-popup,
[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-qna-modal-backdrop {
	z-index: 999999999999999 !important;
}

/* Widget Tab */
[class*="yotpo-display-"][style*="--yotpo-"] .ugc-storefront-widgets-tabs-container__tab {
    font-weight: 400;
    border: none;
}

[class*="yotpo-display-"][style*="--yotpo-"] .ugc-storefront-widgets-tabs-container__tab.selected {
    font-weight: 700;
    border-bottom: 2px solid var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][style*="--yotpo-"] .ugc-storefront-widgets-tabs-container__tab:hover {
    color: var(--YotpoSecondaryColor);
    border-color: var(--YotpoSecondaryColor);
}
/* Widget Tab */

/* YOTPO Icon on Header */
[class*="yotpo-display-"][style*="--yotpo-"]  .yotpo-reviews-icon path {
    fill: var(--YotpoLogoIconColor);
}
/* YOTPO Icon on Header */

/* HEADER */
[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-layout-header-wrapper {
    flex-direction: column;
    gap: 25px;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-new-review-btn-wrapper {
    align-self: end;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line {
    margin: 0;
    column-gap: 40px;
    align-items: center;
}

#yotpo-reviews-main-widget[class*="yotpo-display-"][style*="--yotpo-"] [class*="-btn-wrapper"] [id*="-widget-btn"],
#yotpo-questions-and-answers[class*="yotpo-display-"][style*="--yotpo-"] [class*="-btn-wrapper"] [id*="-widget-btn"] {
    background: #fff;
    color: var(--YotpoPrimaryColor);
    border: 1px solid #000;
    border-radius: 0;
    width: auto;
    height: auto;
    line-height: 1;
    font-weight: 700;
    padding: 12px 20px;
}

#yotpo-questions-and-answers[class*="yotpo-display-"][style*="--yotpo-"] [class*="-btn-wrapper"] [id*="-widget-btn"] span {
    color: var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-bottom-line-summary {
    flex-direction: column;
    gap: 10px;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-bottom-line-score {
    padding: 0;
    line-height: 1;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-bottom-line-right-panel {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-star-rating .star-container:nth-child(5) {
    margin: 0;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-bottom-line-text {
    margin: 0;
    text-align: center;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-star-rating-icon,
[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-star-distribution .yotpo-star-rating-icon {
    transform: scale(1);
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line > .yotpo-vertical-border {
    display: none;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-star-distribution {
    padding: 0;
    border: none !important;
    gap: 8px;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-star-distribution .yotpo-distribution-row {
    align-items: center;
    gap: 10px;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-star-distribution .yotpo-progress-bar,
[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-star-distribution .yotpo-star-distribution-bar,
[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-star-distribution .yotpo-progress-bar-score {
    margin: 0;
    border-radius: 0;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-star-distribution .yotpo-star-distribution-value {
    height: auto;
    line-height: 1;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-header-container .yotpo-star-distribution .yotpo-star-distribution-index {
    width: auto;
    line-height: 1;
    margin: 0;
}
/* HEADER */

/* FILTER */
[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-filters-container {
    margin: 0;
    padding: 40px 0;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-filters-container .yotpo-filters-container-inner {
    gap: 20px;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-filters-container .yotpo-filters-container-inner > div:empty {
    display: none;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-filters-container .yotpo-filters-top-panel {
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-filters-container .yotpo-filters-top-panel::before {
    content: "Filter Reviews";
    font-weight: 700;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-filters-container .yotpo-filters-top-panel > [class$="filter-container"] {
    margin: 0;
    flex-basis: 48%;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-filters-container .yotpo-filters-top-panel > [class$="filter-container"] input[placeholder] {
    width: 100%;
    border-radius: 3px;
}

[class*="yotpo-display-"][style*="--yotpo-"] .yotpo-filters-container .yotpo-filters-top-panel .yotpo-search-filter {
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
}
/* FILTER */