@font-face {
    font-family: 'ITC Garamond Narrow';
    src: url('https://cdn.shopify.com/s/files/1/0708/4605/4708/files/GaramondITCbyBT-BoldNarrow.woff2?v=1708375301') format('woff2');
    font-weight: bold;
    font-style: normal;
}

:root {
    /* itc-garamond-std,sans-serif */
    /* aaux-next,sans-serif */
    /* 'adobe-garamond-pro', serif; */
    --YotpoPrimaryColor: #BE3A24;
    --YotpoSecondaryColor: #BE3A24;
    --YotpoPrimaryFont:'Lato', var(--YotpoFallbackFont);
    --YotpoSecondaryFont:'Helvetica', var(--YotpoFallbackFont);
    --YotpoThirtiaryFont: itc-garamond-std,serif;
    --YotpoFourthFont: aaux-next,sans-serif;
    --YotpoFallbackFont: sans-serif;
    --YotpoLogoIconColor : var(--YotpoSecondaryColor);
    --YotpoAvatarBackgroundColor: var(--YotpoSecondaryColor);
    --YotpoVerifiedIconBackgroundColor: var(--YotpoPrimaryColor);
    --YotpoPaginationBackground: var(--YotpoSecondaryColor);
    --YotpoCustomAvatarBackground: url(https://cdn-yotpo-images-production.yotpo.com/App/531793/179197833/thumb.png?1623250721);
}

[class*="yotpo-display-"][class*="yotpo-device-"] .label,
[class*="yotpo-display-"][class*="yotpo-device-"] label:not(.variant__button-label):not(.text-label),
[class*="yotpo-display-"][class*="yotpo-device-"] .h5, 
[class*="yotpo-display-"][class*="yotpo-device-"] .h6,
[class*="yotpo-display-"][class*="yotpo-device-"] .h4, 
[class*="yotpo-display-"][class*="yotpo-device-"] h4, 
[class*="yotpo-display-"][class*="yotpo-device-"] h5, 
[class*="yotpo-display-"][class*="yotpo-device-"] h6,
[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal .yotpo-new-input-message,
[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal .yotpo-star-rating-wrapper .yotpo-star-rating-text,
[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal .yotpo-file-upload .yotpo-file-input-headline,
[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal .yotpo-modal-header,
[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal .yotpo-form-label,
[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal .yotpo-custom-question-headline,
[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal .yotpo-custom-question-headline .yotpo-custom-question-message,
[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal .yotpo-checkbox-container {
    color: var(--YotpoPrimaryColor);
    text-transform: inherit;
}

[class*="yotpo-display-"][class*="yotpo-device-"] [class*="filter"] label {
    display: block;
}

[class*="yotpo-display-"][class*="yotpo-device-"] .btn-close {
    width: inherit;
    height: inherit;
    opacity: 1;
    padding: inherit;
    color: var(--YotpoPrimaryColor) !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"] input,
[class*="yotpo-display-"][class*="yotpo-device-"] input:hover,
[class*="yotpo-display-"][class*="yotpo-device-"] input:hover::placeholder,
[class*="yotpo-display-"][class*="yotpo-device-"] textarea,
[class*="yotpo-display-"][class*="yotpo-device-"] textarea:hover,
[class*="yotpo-display-"][class*="yotpo-device-"] textarea:hover::placeholder,
[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal .yotpo-upload-label {
    border-color: var(--YotpoPrimaryColor) !important;
    color: var(--YotpoPrimaryColor) !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"] * {
    font-family: var(--YotpoPrimaryFont) !important;
    font-family: var(--YotpoThirtiaryFont) !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal .yotpo-upload-label svg path,
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-filters-container .yotpo-filters-top-panel .yotpo-mobile-filters-btn svg path {
    fill: var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal,
[class*="yotpo-display-"][class*="yotpo-device-"] .modal-backdrop.yotpo-media-modal,
[class*="yotpo-display-"][class*="yotpo-device-"] #yotpo-mobile-filters-popup,
[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-qna-modal-backdrop {
	z-index: 999999999999999 !important;
}

/* Widget Tab */
[class*="yotpo-display-"][class*="yotpo-device-"][style] .ugc-storefront-widgets-tabs-container {
    /* display: none; */
    align-items: start;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .ugc-storefront-widgets-tabs-container__tab {
    font-weight: 700;
    border: none;
    font-family: var(--YotpoThirtiaryFont) !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 0 3px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .ugc-storefront-widgets-tabs-container__tab.selected {
    border-bottom: 3px solid var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .ugc-storefront-widgets-tabs-container__tab:hover {
    color: var(--YotpoSecondaryColor);
    border-color: var(--YotpoSecondaryColor);
}
/* Widget Tab */

/* YOTPO Icon on Header */
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-base-layout .yotpo-head {
    order: 1;
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]  .yotpo-reviews-icon path {
    fill: var(--YotpoLogoIconColor);
}
/* YOTPO Icon on Header */

/* HEADER */
#yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"]:not(.yotpo-device-mobile) .yotpo-header-container {
    margin: 40px 0 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-layout-header-wrapper {
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
}

[class*="yotpo-display-"][class*="yotpo-device-"]:not(.yotpo-device-mobile) .yotpo-header-container .yotpo-new-review-btn-wrapper {
    align-self: end;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line {
    margin: 0;
    column-gap: 40px;
    align-items: center;
}

#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] [id*="-widget-btn"],
#yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] [id*="-widget-btn"],
[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal #yotpo-modal.yotpo-form-complete .yotpo-form-complete .yotpo-shop-complete,
[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal footer.form-footer .yotpo-new-review-submit,
[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-question-form .form-footer .yotpo-question-submit,
[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-vertical-pagination .yotpo-reviews-pagination-item,
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-vertical-pagination .yotpo-pagination-item {
    background: var(--YotpoPrimaryColor);
    color: #fff;
    border: none;
    border-radius: 0;
    width: auto;
    height: auto;
    line-height: 1;
    font-weight: 700;
    padding: 12px 20px;
    text-transform: uppercase;
    font-family: var(--YotpoFourthFont) !important;
    letter-spacing: 2px;
}

#yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] [class*="-btn-wrapper"] [id*="-widget-btn"] span {
    color: #fff;
    text-transform: uppercase;
    font-family: var(--YotpoFourthFont) !important;
    letter-spacing: 2px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-bottom-line-summary {
    gap: 10px;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-bottom-line-summary,
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-bottom-line-right-panel {
    flex-direction: column;
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-bottom-line-score {
    padding: 0;
    line-height: 1;
    font-family: var(--YotpoFourthFont) !important;
    letter-spacing: 2px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-bottom-line-right-panel {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-vertical-border {
    display: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-star-rating .star-container:nth-child(5) {
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-bottom-line-text {
    margin: 0;
    text-align: center;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-bottom-line-text .yotpo-bottom-line-basic-text {font-family: var(--YotpoThirtiaryFont) !important;text-transform: uppercase;letter-spacing: 2px;font-weight: 700;}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-star-rating-icon,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-star-distribution .yotpo-star-rating-icon {
    transform: scale(1);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line > .yotpo-vertical-border {
    display: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-star-distribution {
    padding: 0;
    border: none !important;
    gap: 8px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-star-distribution .yotpo-distribution-row {
    align-items: center;
    gap: 10px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-star-distribution .yotpo-progress-bar,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-star-distribution .yotpo-star-distribution-bar,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-star-distribution .yotpo-progress-bar-score {
    margin: 0;
    border-radius: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-star-distribution .yotpo-star-distribution-value {
    height: auto;
    line-height: 1;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container .yotpo-star-distribution .yotpo-star-distribution-index {
    width: auto;
    line-height: 1;
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container + .yotpo-review-border-smooth {
    display: none;
}
/* HEADER */

/* FILTER */
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container {
    margin: 0;
    padding: 30px 0;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-color: var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-container-inner {
    gap: 20px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-container-inner > div:empty {
    display: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-top-panel {
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-top-panel::before {
    content: "Filter Reviews";
    font-weight: 700;
    color: var(--YotpoPrimaryColor);
    font-family: var(--YotpoThirtiaryFont) !important;
    letter-spacing: 2px;
    text-transform: uppercase;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-top-panel > [class$="filter-container"] {
    margin: 0;
    flex-basis: 48%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container svg.yotpo-search-icon path,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container svg.yotpo-dropdown-arrow-icon path,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container svg.yotpo-radio-icon circle,
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup svg.yotpo-dropdown-arrow-icon path,
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-radio-icon circle {
    stroke: var(--YotpoPrimaryColor) !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-top-panel > [class$="filter-container"] input[placeholder],
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-filters-container .yotpo-filters-top-panel .yotpo-mobile-filters-btn,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-custom-questions-filter .yotpo-dropdown-placeholder-input {
    min-width: 100%;
    width: 100%;
    border-radius: 0;
    border-width: 1px;
    border-color: var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-filters-container .yotpo-filters-top-panel .yotpo-mobile-filters-btn span.yotpo-mobile-filters-btn-badge {
    background: var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-top-panel > [class$="filter-container"] input[placeholder]::placeholder,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-top-panel > [class$="filter-container"] input[placeholder]:hover::placeholder,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-custom-questions-filter .yotpo-selected-value {
    color: var(--YotpoPrimaryColor) !important;
    font-family: var(--YotpoFourthFont) !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-custom-questions-filter .yotpo-selected-value {}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-custom-questions-filters-wrapper {}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-custom-questions-filter {}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-filters-container .yotpo-filters-top-panel .yotpo-mobile-filters-btn .yotpo-mobile-filters-btn-text,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-custom-questions-filter .yotpo-dropdown-option {
    color: var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-top-panel > [class$="filter-container"] .yotpo-dropdown-content .yotpo-score {
    color: var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-dropdown-content .yotpo-score-option:hover,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-dropdown-content .yotpo-score-option[style="background-color: rgb(193, 59, 42);"] {
    background-color: rgba(190, 58, 36, 0.15) !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-top-panel .yotpo-search-filter {
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-clear-filters-container .yotpo-matched-reviews,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-clear-filters-container .yotpo-clear-filters {
    color: var(--YotpoPrimaryColor);
}

/* mobile filter modal */
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup {}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-content .yotpo-dropdown-content-wrapper .yotpo-dropdown-option,
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-custom-questions-filter-title {
    color: var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup label {
    font-size: inherit;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header {
    padding: 20px;
    position: static;
    border-bottom: 1px solid #e3e3e3;
    box-sizing: border-box;
    justify-content: space-between;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header .yotpo-popup-close-button-wrapper {}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header .yotpo-popup-close-button-wrapper > svg {
    position: static;
    transform: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header .yotpo-popup-close-button-wrapper > svg g[fill="currentColor"] {
    fill: var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-content {
    box-sizing: border-box;
    padding: 20px;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-actions {
    box-sizing: border-box;
    padding: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header  .yotpo-review-border-smooth {
    display: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header .yotpo-mobile-filters-popup-clear {
    position: static;
    color: var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-actions .yotpo-filters-results-btn {
    position: static;
    height: auto;
    padding: 20px;
}
/* mobile filter modal */

/* clear filter */
[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-clear-filters-container {}

[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-clear-filters-container + .yotpo-review-border-smooth {
    height: 1px;
    background-image: none;
    border-top: 1px solid var(--YotpoPrimaryColor);
}
/* clear filter */
/* FILTER */

/* REVIEWS */
[class*="yotpo-display-"][class*="yotpo-device-"][style] #yotpo-reviews-container {}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list {}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list > .yotpo-review-votes-wrapper {
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] [class*="yotpo-review-votes"] {
    color: var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"] [class*="yotpo-review-votes"] path {
    fill: var(--YotpoPrimaryColor) !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list > .yotpo-review-border-smooth {
    margin-top: 40px;
    height: 1px;
    background-image: none;
    border-top: 1px solid var(--YotpoPrimaryColor);
}

/* [class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review-border-smooth {
    height: 1px;
    background-image: none;
    border-top: 1px solid var(--YotpoPrimaryColor);
} */

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review {
    margin: 40px 0 20px;
    row-gap: 8px;
    position: relative;
    justify-content: space-between;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-review,
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-reviews-list > .yotpo-review-border-smooth {
    margin-top: 20px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-left-panel {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    row-gap: 5px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-review .yotpo-review-left-panel {
    flex-basis: 63%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-left-panel .yotpo-review-customer-questions-container {
    /* display: none; */
    width: auto;
    display: flex;
    /* justify-content: end; */
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-left-panel .yotpo-reviewer {
    gap: 10px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-review .yotpo-review-left-panel .yotpo-reviewer .yotpo-reviewer-details-verified {
    gap: 5px;
    padding: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]:not(.yotpo-device-mobile) .yotpo-review .yotpo-review-left-panel .yotpo-reviewer {
    padding: 0;
    min-height: 80px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-left-panel .yotpo-reviewer-image {
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-left-panel .yotpo-verified-image-icon {}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-verified-image-icon .yotpo-initials-background {
    fill: var(--YotpoAvatarBackgroundColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-verified-image-icon .yotpo-verified-icon > circle {
    fill: var(--YotpoVerifiedIconBackgroundColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-verified-image-icon .yotpo-verified-icon-wrapper {
    top: auto;
    left: auto;
    right: -5px;
    bottom: -3px;
    height: auto;
}

[class*="yotpo-display-"][class*="yotpo-device-"]:not([class*="mobile"]) [class*="-details-verified"] {
    padding: 0;
    flex-direction: row;
    gap: 5px;
    /* flex-direction: column; */
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] [class*="-details-verified"] [title] {
    color: var(--YotpoPrimaryColor) !important;
    font-weight: 700;
    /* font-family: 'ITC Garamond Narrow', serif !important;
    font-size: 20px; */
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] [class*="-details-verified"] [title]::before {
    content: 'Posted by ';
    font-weight: 400;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] [class*="-details-verified"] [title] + div {
    display: none;
    align-items: center;
    gap: 5px;
    justify-content: start !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] [class*="-details-verified"] [title] + div .yotpo-reviewer-verified-buyer-text {
    font-size: 16px;
    order: -1;
    margin-left: 0 !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-verified-image-icon .yotpo-avatar-initials-text {
    fill: #fff;
    font-size: 18px;
}

/* CQ Read More */
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-left-panel .yotpo-review-customer-questions-container .yotpo-custom-questions-see-more-closable .yotpo-custom-questions-see-more-content-wrapper {
    background-color: #fff !important;
    width: 100% !important;
    position: relative !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-left-panel .yotpo-review-customer-questions-container .yotpo-custom-questions-see-more-closable .yotpo-custom-questions-see-more-label {
    color: var(--YotpoPrimaryColor);
}
/* CQ Read More */

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review-customer-questions-container .yotpo-review-question-wrapper > [class*="yotpo-custom-questions-"] {
    margin: 0;
    column-gap: 10px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review-customer-questions-container [class*="yotpo-review-question"] > [class*="yotpo-custom-questions-"] .yotpo-custom-questions-free-text-question {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 10px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review-customer-questions-container [class*="yotpo-custom-questions-"] [class*="title"] {
    justify-self: flex-end;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review-customer-questions-container [class*="yotpo-custom-questions-"] [class*="title"]::after {
    content: ':';
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review-customer-questions-container [class*="yotpo-custom-questions-"] [class*="title"], 
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review-customer-questions-container [class*="yotpo-custom-questions-"] [class*="value"], 
[class*="yotpo-display-"][class*="yotpo-device-"] .modal-backdrop.yotpo-media-modal .yotpo-media-modal-review .yotpo-custom-questions-title, 
[class*="yotpo-display-"][class*="yotpo-device-"] .modal-backdrop.yotpo-media-modal .yotpo-media-modal-review .yotpo-custom-questions-value,
[class*="yotpo-display-"][class*="yotpo-device-"] .modal-backdrop.yotpo-media-modal .yotpo-media-modal-review .yotpo-custom-questions-free-text-title,
[class*="yotpo-display-"][class*="yotpo-device-"] .modal-backdrop.yotpo-media-modal .yotpo-media-modal-review .yotpo-custom-questions-free-text-value {
    color: var(--YotpoPrimaryColor) !important;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 700 !important;
    margin: 0;
    /* font-family: serif !important; */
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-review .yotpo-review-center-panel .yotpo-review-questions-mobile-panel [class*="yotpo-custom-questions-"] [class*="title"],
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-review .yotpo-review-center-panel .yotpo-review-questions-mobile-panel [class*="yotpo-custom-questions-"] [class*="value"] {
    color: var(--YotpoPrimaryColor) !important;
    font-weight: 700 !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-review .yotpo-review-center-panel .yotpo-review-questions-mobile-panel {
    overflow: unset;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-review .yotpo-review-center-panel .yotpo-review-questions-mobile-panel .yotpo-custom-questions-wrapper,
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-review .yotpo-review-center-panel .yotpo-review-questions-mobile-panel .yotpo-review-question.yotpo-review-customer-questions {
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel {
    order: 3;
    flex-basis: 100%;
    gap: 5px;
    margin-top: 5px;
}

[class*="yotpo-display-"][class*="yotpo-device-"]:not(.yotpo-device-mobile) .yotpo-review .yotpo-review-center-panel {
    padding: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-review .yotpo-review-center-panel .yotpo-related-product {
    /* width: auto; */
    display: block;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-related-product .yotpo-related-product-title {
    font-family: var(--YotpoFourthFont) !important;
    color: var(--YotpoPrimaryColor);
    text-transform: uppercase;
    font-size: 14px;
    font-size: 0;
    line-height: 1;
    /* width: auto !important; */
    /* min-width: 0 !important; */
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-related-product .yotpo-related-product-title::before {
    content: 'Reviewed On: ';
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-related-product .yotpo-related-product-name {
    color: var(--YotpoPrimaryColor);
    font-size: 14px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-review-rating-title {
    margin: 0;
    gap: 10px;
    flex-direction: column;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-review-content {
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-review .yotpo-review-center-panel .yotpo-review-content .sr-only {
    display: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-read-more {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--YotpoSecondaryColor);
    text-decoration-thickness: 2px;
    font-weight: 700;
    font-size: inherit !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-review-rating-title .yotpo-review-title {
    margin: 0;
    line-height: 1;
    font-family: 'ITC Garamond Narrow', serif !important;
    font-size: 20px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-review-rating-title .yotpo-star-rating {}

[class*="yotpo-display-"][class*="yotpo-device-"][style]:not(.yotpo-device-mobile) .yotpo-review .yotpo-review-center-panel .yotpo-review-rating-title .yotpo-star-rating {
    /* display: none; */
    position: absolute;
    top: 0;
}

/* [class*="yotpo-display-"][class*="yotpo-device-"] .modal-backdrop.yotpo-media-modal .yotpo-media-modal-review */

[class*="yotpo-display-"][class*="yotpo-device-"][style]:not(.yotpo-device-mobile) .yotpo-media-modal-review.yotpo-review .yotpo-review-center-panel .yotpo-review-rating-title .yotpo-star-rating {top: 40px;}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-review-rating-title .yotpo-star-rating .star-container:nth-child(5) {
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-comment {
    margin: 10px 0 0 20px;
    flex-basis: 100%;
    color: var(--YotpoPrimaryColor);
    border-left: 1px solid var(--YotpoPrimaryColor);
    padding: 0 0 0 15px;
    gap: 15px;
    align-items: center;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-comment:has(.yotpo-custom-icon) {
    padding: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-comment .yotpo-vertical-line {
    display: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-comment .yotpo-custom-icon {
    background-size: contain;
    width: 40px;
    height: 40px;
    background-image: var(--YotpoCustomAvatarBackground) !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-comment .yotpo-comment-data {justify-content: center;}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-comment .yotpo-comment-title {
    font-size: 16px;
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-comment .yotpo-comment-content {
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-thumbnail-container {
    margin: 0;
    padding: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-right-panel {
    margin: 0;
    order: 2;
    flex-basis: 100%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-review .yotpo-review-right-panel {
    flex-basis: 30%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]:not(.yotpo-device-mobile) .yotpo-review .yotpo-review-right-panel {
    /* display: none; */
    position: absolute;
    top: 60px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]:not(.yotpo-device-mobile) .yotpo-media-modal-review.yotpo-review .yotpo-review-right-panel {
    top: 100px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-right-panel .yotpo-review-details {
    justify-content: start;
    gap: 10px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-review .yotpo-review-right-panel .yotpo-review-details {
    display: flex;
    flex-direction: column;
    gap: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-right-panel .yotpo-review-details [class*="yotpo-shop-badge"] {
    padding: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-right-panel .yotpo-review-details [class*="yotpo-shop-badge"] path[filL="#F2F2F2"] {
    fill: var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-right-panel .yotpo-review-details [class*="yotpo-shop-badge"] path[fill="black"] {
    fill: #fff;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-reviews-pagination-container {}

[class*="yotpo-display-"][class*="yotpo-device-"][style] [class*="-pagination-container"] .yotpo-horizontal-pagination {
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] [class*="-pagination-container"] .yotpo-pagination-number.selected, 
[class*="yotpo-display-"][class*="yotpo-device-"][style] [class*="-pagination-container"] .yotpo-pagination-number:hover {
    background: var(--YotpoPaginationBackground);
    height: auto;
    color: #fff;
}

/* Q&A */
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-border-smooth {
    height: 1px;
    background-image: none;
    border-top: 1px solid var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-answer-content {}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-answer-content .yotpo-read-more-text {
    font-weight: 400;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-answer-content .yotpo-read-more {
    font-size: inherit;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-answer-content .yotpo-read-more:hover {
    color: var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-answer-content .yotpo-read-more {
	font-size: 14px;
}

/* Q&A MODAL */
.yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] #modalDescription {
    box-sizing: border-box;
    overflow: auto;
    padding: 20px 0;
    margin: 0 auto;
    width: 90%;
}

[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-qna-modal-backdrop .yotpo-qna-modal-header-font,
[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-qna-modal-backdrop .yotpo-form-label {
    color: var(--YotpoPrimaryColor);
}

.yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-question-form .form-footer,
.yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] input,
.yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] textarea {
    box-sizing: border-box;
    overflow: auto;
}

.yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-name-email-wrapper,
.yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] input,
.yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] textarea {
    min-width: unset;
    width: 100%;
}
/* Q&A MODAL */
/* Q&A */

/* Image Modal */
[class*="yotpo-display-"][class*="yotpo-device-"] .modal-backdrop.yotpo-media-modal section#modalDescription {
    overflow: auto;
}

[class*="yotpo-display-"][class*="yotpo-device-"] .modal-backdrop.yotpo-media-modal .yotpo-media-modal-review {
    margin: 0;
    box-sizing: border-box;
    padding: 40px;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .modal-backdrop.yotpo-media-modal .yotpo-media-modal-review {
    padding: 20px;
}

[class*="yotpo-display-"][class*="yotpo-device-"] .modal-backdrop.yotpo-media-modal .yotpo-media-modal-review .yotpo-review-center-panel {
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"] .modal-backdrop.yotpo-media-modal .yotpo-media-modal-media {
    background: #000;
}

[class*="yotpo-display-"][class*="yotpo-device-"] .modal-backdrop.yotpo-media-modal .yotpo-media-modal-review .yotpo-date-format,
[class*="yotpo-display-"][class*="yotpo-device-"] .modal-backdrop.yotpo-media-modal .yotpo-media-modal-review .yotpo-review-content,
[class*="yotpo-display-"][class*="yotpo-device-"] .modal-backdrop.yotpo-media-modal .yotpo-media-modal-review .yotpo-review-title,
[class*="yotpo-display-"][class*="yotpo-device-"] .modal-backdrop.yotpo-media-modal .yotpo-media-modal-review .yotpo-reviewer-name {
    color: var(--YotpoPrimaryColor) !important;
}
/* mobile if the reviews in the image are more than 2 */
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-thumbnail-container.yotpo-review-thumbnail-container {
    width: 280px;
    align-items: start;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-thumbnail-container.yotpo-review-thumbnail-container .yotpo-collapsed-wrapper {
    gap: 5px;
}
/* mobile if the reviews in the image are more than 2 */
/* Image Modal */

[class*="yotpo-display-"][class*="yotpo-device-"] #yotpo-reviews-container .yotpo-no-matching-reviews-container {
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"] #yotpo-reviews-container .yotpo-no-matching-reviews-container .yotpo-no-matching-reviews-primary,
[class*="yotpo-display-"][class*="yotpo-device-"] #yotpo-reviews-container .yotpo-no-matching-reviews-container .yotpo-no-matching-reviews-secondary {
    color: var(--YotpoPrimaryColor);
}

/* REVIEWS */

/* Modal Form */
[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal .yotpo-star-rating-icons {
    margin: 0;
    min-height: 0;
    flex-direction: column;
}

[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal .yotpo-star-rating-icons .yotpo-star-rating-icons-wrapper {
    padding: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal .yotpo-star-rating-icons .yotpo-star-rating-text {
    align-self: start !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal .yotpo-new-review-headline,
[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal .yotpo-name-email-wrapper,
[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal textarea {
    width: 100%;
    box-sizing: border-box;
}

[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal label.yotpo-custom-questions-option[style="color: var(--yotpo-black)"] {
    color: var(--YotpoPrimaryColor) !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal footer.form-footer {
    background: #f3f3f3;
    padding: 10px;
    box-sizing: border-box;
    bottom: 0;
    border: 1px solid #f3f3f3;
    gap: 10px;
}

[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal footer.form-footer .yotpo-review-form-footer-container {}

[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal footer.form-footer .yotpo-review-form-footer-container > h6 {
    margin: 0;
    color: var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal footer.form-footer label.yotpo-checkbox-label {
    padding: 0;
    letter-spacing: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal footer.form-footer .yotpo-terms-and-conditions-container {
    padding: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal footer.form-footer .yotpo-terms-and-conditions-container .yotpo-checkbox {
    appearance: revert;
}

[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal #modalDescription {
    box-sizing: border-box;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #newReviewFormModal {}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile [aria-labelledby="modalTitle"][role] {
    width: 95%;
}

[class*="yotpo-display-"][class*="yotpo-device-"] [aria-labelledby="modalTitle"][role] #modalTitle {
    box-shadow: 1px 2px 1px rgba(190, 58, 36,0.69);
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #newReviewFormModal #yotpo-modal #modalDescription {
    margin: 0 auto;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #newReviewFormModal footer.form-footer .yotpo-terms-and-conditions-container .yotpo-new-input-validation {
    width: 100%;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #newReviewFormModal footer.form-footer .yotpo-terms-and-conditions-container {
    flex-wrap: wrap;
}

/* FORM COMPLETE */
[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal #yotpo-modal.yotpo-form-complete {
    height: auto;
    overflow: auto;
    max-height: 100%;
    width: auto;
    padding: 0 0 40px;
    position: relative;
}

[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal #yotpo-modal.yotpo-form-complete .yotpo-form-complete {
    height: auto;
}

[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal #yotpo-modal.yotpo-form-complete #modalDescription {
    margin: 0;
    padding: 0;
    overflow: auto;
}
/* FORM COMPLETE */
/* Modal Form */